body{
	background:#efe8d6
}

svg{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index: 1;
}

.person{
  font: 14px sans-serif;
}

.slider{
	background-color: #808080;
	z-index: 2;
	width: 250;
	left: -270;
}

.circle{
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.firstname{
	fill: white
}

.lastname{
	fill: white
}

.dates{
	fill: #857e87
}

.spouseLine{
	fill: none;
	stroke: #d8d1c1;
	stroke-width: 5
}

.famillyLine{
	fill: none;
	stroke: #d8d1c1;
	stroke-width: 5
}
